@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans", Helvetica, sans-serif;
}

body,
html {
    background: linear-gradient(
        90deg,
        rgba(12, 3, 158, 1) 0%,
        rgba(20, 20, 190, 1) 35%,
        rgba(0, 142, 255, 1) 100%
    );
    width: 100%;
    height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

header a {
    text-decoration: none;
    color: #faf9f6;
    font-size: 1.5rem;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 0.6rem;
}

#perfil-foto {
    border-radius: 50%;
    max-width: 300px;
    padding: 0 1.5rem;
}

a:hover {
    text-shadow: 1px 1px black;
}

main {
    display: flex;
    flex-direction: column;
    margin: 2rem 8rem;
    color: #faf9f6;
}

main div#abertura {
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: 980px) {
    main div#abertura {
        display: flex;
        flex-direction: column;
    }

    main div#abertura h1 {
        width: 100vw;
    }
}

main div#abertura h1 {
    width: 60%;
}

main section {
    padding: 2rem;
}

main section.tecnologias {
    padding: 1rem;
}

main section.tecnologias ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

main section.tecnologias img {
    max-width: 100px;
}

footer {
    text-align: center;
    color: #faf9f6;
    font-size: 1.2rem;
}

footer p a {
    text-decoration: none;
    color: #faf9f6;
}