@import url("https://fonts.googleapis.com/css2?family=Work+Sans&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans", Helvetica, sans-serif;
}

body,
html {
    background: linear-gradient(
        90deg,
        rgba(12, 3, 158, 1) 0%,
        rgba(20, 20, 190, 1) 35%,
        rgba(0, 142, 255, 1) 100%
    );
    width: 100%;
    height: 100vh;
}

.dark {
    background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 1) 0%,
        rgba(31, 31, 31, 1) 35%,
        rgba(57, 57, 57, 1) 100%
    );

    background-repeat: repeat-y;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}

header p {
    color: #faf9f6;
    margin-left: 2rem;
    font-size: 1.5rem;
    font-weight: 700;
}

header a {
    color: #faf9f6;
    text-decoration: none;
    font-size: 1rem;
}

header button {
    border-width:2px;
    border-radius: 15px;
    width: 100px;
    height: 40px;
    font-size: .8rem;
}

nav ul {
    margin-right: 2rem;
    display: flex;
    list-style: none;
}

nav ul li {
    padding: 0.6rem;
}

@media (max-width: 600px) {
    nav ul {
        display: none;
    }

    header {
        justify-content: space-between;
    }
}

#perfil-foto {
    border-radius: 50%;
    max-width: 30vw;
    padding: 0 1.5rem;
    transition: filter 0.5 ease-in-out;
}

a:hover {
    text-shadow: 1px 1px black;
}

main {
    display: flex;
    flex-direction: column;
    margin: 2rem 8rem;
    color: #faf9f6;
}

main div#abertura {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 900px) {
    main div#abertura {
        display: flex;
        flex-direction: column-reverse;
    }

    #abertura h1 {
        font-size: 1.5rem;
    }
}

main section {
    padding: 2rem;
}

main section.apresentacao h2 {
    padding: 1rem 0;
}

main section.apresentacao p {
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
}

main section.contato h2 {
    padding: 1rem 0;
}

.contato ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contato ul li a {
    color: #faf9f6;
    text-decoration: none;
}

.contato .bi {
    font-size: 3em;
}

.hide {
    display: none;
}

main section.projetos h2 {
    padding: 1rem 0;
}

main section.projetos div.amostras-projetos {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 auto;
    max-width: 90%;
}

main section.tecnologias h2 {
    padding: 1rem 0;
}

main section.tecnologias ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

main section.tecnologias img {
    max-width: 10vw;
}

footer {
    text-align: center;
    color: #faf9f6;
    font-size: 1.2rem;
}

footer p a {
    text-decoration: none;
    color: #faf9f6;
}

@media (max-width: 900px) {
    footer {
        background-color: #faf9f6;
        text-align: center;
    }

    footer p {
        color: rgba(20, 20, 190, 1);
    }

    footer p a {
        color: rgba(20, 20, 190, 1);
    }
}
